In [1]:
import numpy as np
import pandas as pd

In [2]:
volumemeta = pd.read_csv("D:/DH collaborative/Avant garde/volumemeta.tsv", sep="\t", low_memory=False)

In [3]:
hathimeta = pd.read_csv("D:/DH collaborative/Avant garde/titlemeta.tsv", sep="\t", low_memory=False)
hathimeta

,docid,oldauthor,author,authordate,inferreddate,latestcomp,datetype,startdate,enddate,imprint,...,allcopiesofwork,copiesin25yrs,enumcron,volnum,title,parttitle,earlyedition,shorttitle,nonficprob,juvenileprob
0,mdp.39015031913893,"Spencer, Louise Reid","Spencer, Louise Reid",NaN,NaN,NaN,|,||||,||||,Thomas Y. Crowell company|1945,...,1.0,1.0,NaN,NaN,Guerrilla wife | $c: [by] Louise Reid Spencer.,NaN,True,Guerrilla wife,0.809395,0.134542
1,mdp.39015003936864,"Baker, Robert H","Baker, Robert H",NaN,NaN,NaN,n,,,"Port Washington, N.Y.|Ashley Books|197-?].",...,1.0,1.0,NaN,NaN,The suburbs : | a novel / | $c: by Robert H. B...,NaN,True,The suburbs : a novel,0.047942,0.012300
2,mdp.39015068342305,"Dickens, Charles","Dickens, Charles",1812-1870.,NaN,1870.0,n,,,New York|The American news company|n.d.,...,1.0,1.0,NaN,NaN,Edwin Drood. | $c: By Charles Dickens. With il...,NaN,True,Edwin Drood,0.395749,0.021590
3,mdp.39015055066586,"Stretton, Hesba","Stretton, Hesba",1832-1911.,NaN,1911.0,n,,,"New York|Dodd, Mead & co.|n.d.",...,1.0,1.0,NaN,NaN,"Carola, | $c: by Hesba Stretton.",NaN,True,Carola,0.056825,0.012471
4,mdp.39015055066594,"Stretton,Hesba","Stretton, Hesba",1832-1911.,NaN,1911.0,n,,,"New York|Dodd, Mead & co.|n.d.",...,1.0,1.0,NaN,NaN,In prison & out. | $c: By Hesba Stretton.,NaN,True,In prison & out,0.029148,0.155111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138132,umn.31951d030369342,NaN,NaN,NaN,2010.0,1918.0,r,2010,1918,Ann Arbor|University Of Michigan Library|2010.,...,1.0,1.0,NaN,NaN,Six plays of the yiddish theatre / | $c: [tran...,NaN,False,Six plays of the yiddish theatre,0.889030,0.387223
138133,mdp.39076002906829,"Wison, Steven E. (Steven Eugene)","Wison, Steven E. (Steven Eugene)",1951-,2011.0,2011.0,s,2011,,"Cleveland, Ohio|H-G Books|c2011.",...,1.0,1.0,NaN,NaN,The ghosts of Anatolia : | an epic journey to ...,NaN,True,The ghosts of Anatolia : an epic journey to fo...,0.290158,0.304493
138134,inu.30000127716409,"Jeon, Heecheon","Jeon, Heecheon",NaN,2011.0,2011.0,s,2011,,New York|Peter Lang|c2011.,...,1.0,1.0,NaN,NaN,Subjectivity of différance : | a poiesis of de...,NaN,True,Subjectivity of différance : a poiesis of deco...,0.991856,0.026401
138135,ien.35556042103887,"Wells, H. G. (Herbert George)","Wells, H. G. (Herbert George)",1866-1946.,2011.0,1901.0,r,2011,1901,"La Vergne, TN|Nabu Public Domain Reprints|2011?].",...,1.0,1.0,NaN,NaN,Certain personal matters / | $c: by H. G. Wells.,NaN,False,Certain personal matters,0.578157,0.006842
138136,mdp.39015092163339,"Davis, John A","Davis, John A",d.1897.,2013.0,1880.0,r,2013,1880,NaN,...,1.0,1.0,v.4,4.0,Qing guo nu li : | fu ren Zhongguo fu nü sheng...,NaN,False,Qing guo nu li : fu ren Zhongguo fu nü sheng h...,0.287677,0.791218

In [4]:
hathimeta = pd.read_csv("D:/DH collaborative/Avant garde/titlemeta.tsv", sep="\t", low_memory=False)
topicmeta = pd.read_csv("D:/DH collaborative/Avant garde/finalcorpus.tsv", sep="\t", low_memory=False)
brd = pd.read_csv("D:/DH collaborative/Avant garde/fuzzymatch_final.csv", low_memory=False)
bestsellers = pd.read_csv("D:/DH collaborative/Avant garde/bestseller_matching.csv", low_memory=False)
prize = pd.read_csv("D:/DH collaborative/Avant garde/prize_matching.csv", low_memory=False)
retrospective = pd.read_csv("D:/DH collaborative/Avant garde/AG_sec_sources_results.csv", sep=";", low_memory=False)

In [5]:
print(len(hathimeta))
hathimeta.head()

138137

,docid,oldauthor,author,authordate,inferreddate,latestcomp,datetype,startdate,enddate,imprint,...,allcopiesofwork,copiesin25yrs,enumcron,volnum,title,parttitle,earlyedition,shorttitle,nonficprob,juvenileprob
0,mdp.39015031913893,"Spencer, Louise Reid","Spencer, Louise Reid",NaN,NaN,NaN,|,||||,||||,Thomas Y. Crowell company|1945,...,1.0,1.0,NaN,NaN,Guerrilla wife | $c: [by] Louise Reid Spencer.,NaN,True,Guerrilla wife,0.809395,0.134542
1,mdp.39015003936864,"Baker, Robert H","Baker, Robert H",NaN,NaN,NaN,n,,,"Port Washington, N.Y.|Ashley Books|197-?].",...,1.0,1.0,NaN,NaN,The suburbs : | a novel / | $c: by Robert H. B...,NaN,True,The suburbs : a novel,0.047942,0.012300
2,mdp.39015068342305,"Dickens, Charles","Dickens, Charles",1812-1870.,NaN,1870.0,n,,,New York|The American news company|n.d.,...,1.0,1.0,NaN,NaN,Edwin Drood. | $c: By Charles Dickens. With il...,NaN,True,Edwin Drood,0.395749,0.021590
3,mdp.39015055066586,"Stretton, Hesba","Stretton, Hesba",1832-1911.,NaN,1911.0,n,,,"New York|Dodd, Mead & co.|n.d.",...,1.0,1.0,NaN,NaN,"Carola, | $c: by Hesba Stretton.",NaN,True,Carola,0.056825,0.012471
4,mdp.39015055066594,"Stretton,Hesba","Stretton, Hesba",1832-1911.,NaN,1911.0,n,,,"New York|Dodd, Mead & co.|n.d.",...,1.0,1.0,NaN,NaN,In prison & out. | $c: By Hesba Stretton.,NaN,True,In prison & out,0.029148,0.155111

In [6]:
topicmeta['in_topic_model'] = True
topicmeta = topicmeta.rename(columns = {'firstpub': 'topicmodel_firstpub'}) 
print(len(topicmeta))
topicmeta.head()

29351

,docid,hathi_author,hathi_title,authordate,birthyear,deathyear,chi_date,ukw_date,copyright_date,topicmodel_firstpub,...,copyright_corpus,manual_corpus,us_national,pubdate_known,authof3ormore,tokens,pagesinchunk,tokensperpage,omnibus,in_topic_model
0,loc.ark+=13960=t49p3qv8g,"Thwing, Edward P[ayson]","Outdoor life in Europe, sketches of men and ma...",NaN,NaN,NaN,NaN,NaN,NaN,1880,...,False,False,False,False,False,45865,54,849.352,False,True
1,loc.ark+=13960=t7wm1fd5j,"Jones, Joseph",Major Jones's travels,1812-1882.,1812.0,NaN,NaN,NaN,NaN,1880,...,False,False,False,False,False,42135,204,206.544,False,True
2,nyp.33433081882650,"Allan-Olney, Mary",The new Virginians,NaN,NaN,NaN,NaN,NaN,NaN,1880,...,False,False,False,False,False,32052,244,131.361,False,True
3,uva.x030742146,NaN,"The Growing world; or, Progress of civilizatio...",NaN,NaN,NaN,NaN,NaN,NaN,1880,...,False,False,False,False,False,374115,420,890.750,False,True
4,nyp.33433074386792,of Samosata. Lucian,A traveller's true tale,NaN,NaN,NaN,NaN,NaN,NaN,1880,...,False,False,False,False,False,11848,128,92.562,False,True

In [7]:
brd['in_BRD'] = True
brd = brd.rename(columns = {'review_year': 'brd_review_year'}) 
print(len(brd))
brd.head()

8294

,volume_author,review_author,aRatio,trunc_volumetitle,volume_title,trunc_revtitle,review_title,tRatio,original_tRaio,volume_year,brd_review_year,docid,rownum,in_BRD
0,"green, paul","green, paul.",96,forever growing; some notes on,forever growing; some notes on a credo for tea...,forever growing; some notes on,forever growing; some notes on a credo for.,106,100,1945.0,1946,mdp.39015031237087,660,True
1,"ruark, robert chester","ruark, robert c.",81,"grenadine etching, her life an","grenadine etching, her life and loves.","grenadine etching, her life an","grenadine etching, her life and loves.",106,100,1952.0,1947,uc1.b3727812,1205,True
2,"gogarty, oliver st. john","gogarty, oliver st john.",96,as i was goin,"as i was going down sackville street, by olive...",as i was going down sackville,as i was going down sackville street.,106,100,1937.0,1937,uc1.b3835561,2770,True
3,"kraus, rené","kraus, rene.",87,private and public li,"the private and public life of socrates, by re...",private and public life of soc,the private and public life of socrates; tr.,106,100,1940.0,1940,uc1.$b45586,5155,True
4,"caine, william","caine, william.",97,great-snakes!,great-snakes! a variation on a classical theme...,great-snakes! a variation on a,great-snakes! a variation on a classical theme.,106,100,1916.0,1916,nyp.33433074938535,1265,True

In [8]:
bestsellers['is_bestseller'] = True
print(len(bestsellers))
bestsellers.head()

778

,volume_author,bestseller_author,aRatio,trunc_volumetitle,volume_title,trunc_bestsellertitle,bestseller_title,tRatio,original_tRaio,volume_year,bestseller_year,docid,is_bestseller
0,"dennis, patrick","dennis, patrick",100,around the world with auntie m,around the world with auntie mame by patrick d...,around the world with auntie m,around the world with auntie mame,106,100,1958.0,1958,mdp.39015057934286,True
1,"bromfield, louis","bromfield, louis",100,strange case of miss annie spr,the strange case of miss annie spragg.,strange case of miss annie spr,the strange case of miss annie spragg,106,100,1928.0,1928,uc1.b3687211,True
2,"garner, james finn","garner, james finn",100,politically correct bedtime st,politically correct bedtime stories james finn...,politically correct bedtime st,politically correct bedtime stories,106,100,1994.0,1995,mdp.39015037456236,True
3,"caldwell, taylor","caldwell, taylor",100,"never victorious, never defeat","never victorious, never defeated.","never victorious, never defeat","never victorious, never defeated",106,100,1954.0,1954,uc1.b3481743,True
4,"fox, john","fox, john jr.",82,little shepherd of kingdom com,the little shepherd of kingdom come by john fo...,little shepherd of kingdom com,the little shepherd of kingdom come,106,100,1903.0,1904,uva.x004639182,True

In [9]:
prize['is_prize_author'] = True
print(len(prize))
prize.head()

700

,volume_author,prize_author,aRatio,trunc_volumetitle,volume_title,trunc_prizetitle,prize_title,tRatio,original_tRaio,volume_year,prize_year,docid,prize,nationality,is_prize_author
0,"sinclair, upton","sinclair, upton",100,king midas;,king midas;,dragon's te,dragon's teeth,26,27,1901.0,1943,uc2.ark+=13960=t7qn60n8f,pulitzer,US,True
1,"galsworthy, john","galsworthy, john",100,a man of,"a man of devon, by john galsworthy.",#matchall,#matchall,19,22,1910.0,1932,mdp.39015003681346,nobel,UK,True
2,"undset, sigrid","undset, sigrid",100,four stor,four stories. translated from the norwegian by...,#matchall,#matchall,8,11,1949.0,1928,mdp.39015009202154,nobel,Norway,True
3,"undset, sigrid","undset, sigrid",100,jenny; a,jenny; a novel translated from the norwegian o...,#matchall,#matchall,8,11,1949.0,1928,wu.89055736698,nobel,Norway,True
4,"galsworthy, john","galsworthy, john",100,man of pr,"the man of property, by john galsworthy ...",#matchall,#matchall,19,22,1906.0,1932,nyp.33433074855382,nobel,UK,True

In [10]:
retrospective['is_retroavant'] = True
retrospective = retrospective.rename(columns={"Vol_Id": "docid", "First_Pub": "retrospective_firstpub"})

# manually change the docid from volumelist to hathilist
retrospective.loc[1, 'docid'] = 'mdp.39015056245924'
retrospective.loc[11, 'docid'] = 'mdp.39015008982822'
retrospective.loc[16, 'docid'] = 'mdp.39015000618473'
retrospective.loc[18, 'docid'] = 'mdp.39015009100812'
retrospective.loc[19, 'docid'] = 'uc1.32106010568639'
retrospective.loc[23, 'docid'] = 'inu.30000007661410'
retrospective.loc[25, 'docid'] = 'uc1.32106005857609'
retrospective.loc[30, 'docid'] = 'uc1.$b242632'
retrospective.loc[32, 'docid'] = 'mdp.39015050713448'

print(len(retrospective))
retrospective.head()

48

,Title,Author,docid,Latest_comp,retrospective_firstpub,Source,Source_pp,Nation,Notes,is_retroavant
0,Ryder,"Barnes, Djuna",mdp.39015014760154,NaN,1928,"Marcus, Nicholls",p. 26,American,it sparked some of the energy behind the exper...,True
1,Nightwood,"Barnes, Djuna",mdp.39015056245924,1937.0,1936,"Friedman, Fuchs",p. 19,American,"Denunciation of Western patriarchy, of its sex...",True
2,Murphy,"Beckett, Samuel",umn.31951p001743923,NaN,1938,"Marcus, Nicholls",p. 397,Irish,Editor Eugene Jolas was fascinated by the work...,True
3,Two Serious Ladies,"Bowles, Jane Auer",mdp.39015010824095,NaN,1943,"Friedman, Fuchs",p. 20,American,"Her prose, particularly in Two Serious Ladies ...",True
4,Development: A Novel,"Bryher (Ellerman, Annie Winifred)",mdp.39015062086270,NaN,1920,Gasiorek,p. 54,British,NaN,True

In [11]:
topicmeta.columns

Index(['docid', 'hathi_author', 'hathi_title', 'authordate', 'birthyear',
       'deathyear', 'chi_date', 'ukw_date', 'copyright_date',
       'topicmodel_firstpub', 'datewrong', 'nationality', 'nonficprob',
       'distances', 'copyright_corpus', 'manual_corpus', 'us_national',
       'pubdate_known', 'authof3ormore', 'tokens', 'pagesinchunk',
       'tokensperpage', 'omnibus', 'in_topic_model'],
      dtype='object')

In [12]:
hathi_to_merge = hathimeta[['docid', 'author', 'title', 'latestcomp']]
topic_to_merge = topicmeta[['docid', 'in_topic_model', 'hathi_author', 'hathi_title', 'topicmodel_firstpub', 'birthyear', 'us_national', 'authof3ormore']]
merged_meta = hathi_to_merge.merge(topic_to_merge, 'outer', on = 'docid') # this is set as outer as we want works either in hathi or topic
# but in fact there is no difference: all docids in topicmeta are in hathimeta
merged_meta = merged_meta.merge(brd[['docid','in_BRD', 'brd_review_year', 'rownum']], 'left', on = 'docid')
merged_meta = merged_meta.merge(bestsellers[['docid','is_bestseller', 'bestseller_year']], 'left', on = 'docid')
merged_meta = merged_meta.merge(prize[['docid','is_prize_author']], 'left', on = 'docid')
merged_meta = merged_meta.merge(retrospective[['docid','is_retroavant', 'retrospective_firstpub']], 'left', on = 'docid')
merged_meta['consensus_earliest_date'] = merged_meta[['latestcomp', 'topicmodel_firstpub', 'brd_review_year',
                                                     'bestseller_year', 'retrospective_firstpub']].min(axis = 1)
merged_meta['author_age'] = merged_meta['consensus_earliest_date'] - merged_meta['birthyear']
merged_meta

,docid,author,title,latestcomp,in_topic_model,hathi_author,hathi_title,topicmodel_firstpub,birthyear,us_national,...,in_BRD,brd_review_year,rownum,is_bestseller,bestseller_year,is_prize_author,is_retroavant,retrospective_firstpub,consensus_earliest_date,author_age
0,mdp.39015031913893,"Spencer, Louise Reid",Guerrilla wife | $c: [by] Louise Reid Spencer.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mdp.39015003936864,"Baker, Robert H",The suburbs : | a novel / | $c: by Robert H. B...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,mdp.39015068342305,"Dickens, Charles",Edwin Drood. | $c: By Charles Dickens. With il...,1870.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1870.0,NaN
3,mdp.39015055066586,"Stretton, Hesba","Carola, | $c: by Hesba Stretton.",1911.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1911.0,NaN
4,mdp.39015055066594,"Stretton, Hesba",In prison & out. | $c: By Hesba Stretton.,1911.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1911.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138132,umn.31951d030369342,NaN,Six plays of the yiddish theatre / | $c: [tran...,1918.0,True,NaN,Six plays of the yiddish theatre,1918.0,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1918.0,NaN
138133,mdp.39076002906829,"Wison, Steven E. (Steven Eugene)",The ghosts of Anatolia : | an epic journey to ...,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN
138134,inu.30000127716409,"Jeon, Heecheon",Subjectivity of différance : | a poiesis of de...,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN
138135,ien.35556042103887,"Wells, H. G. (Herbert George)",Certain personal matters / | $c: by H. G. Wells.,1901.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901.0,NaN
138136,mdp.39015092163339,"Davis, John A",Qing guo nu li : | fu ren Zhongguo fu nü sheng...,1880.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1880.0,NaN

In [13]:
# sanity check: in_topic_model has 29351 instances, in_BRD 8294 instances, is_bestseller 778 instances, is_prize_author 700 instances
# these are all the same as the size of original topicmeta/BRD match/bestseller match/prize author match
# however, there are 39 instances in is_retroavant, while retro avant match has 48 instances: 9 are missing
merged_meta.count()

docid                      138137
author                     129587
title                      138137
latestcomp                 137872
in_topic_model              29351
hathi_author                28303
hathi_title                 29311
topicmodel_firstpub         29351
birthyear                   21424
us_national                 29351
authof3ormore               29351
in_BRD                       8294
brd_review_year              8294
rownum                       8294
is_bestseller                 778
bestseller_year               778
is_prize_author               700
is_retroavant                  48
retrospective_firstpub         48
consensus_earliest_date    137873
author_age                  21424
dtype: int64

In [14]:
# rename nan to False
merged_meta['in_topic_model'] = merged_meta['in_topic_model'].replace(np.nan, False)
merged_meta['in_BRD'] = merged_meta['in_BRD'].replace(np.nan, False)
merged_meta['is_bestseller'] = merged_meta['is_bestseller'].replace(np.nan, False)
merged_meta['is_prize_author'] = merged_meta['is_prize_author'].replace(np.nan, False)
merged_meta['is_retroavant'] = merged_meta['is_retroavant'].replace(np.nan, False)
merged_meta

,docid,author,title,latestcomp,in_topic_model,hathi_author,hathi_title,topicmodel_firstpub,birthyear,us_national,...,in_BRD,brd_review_year,rownum,is_bestseller,bestseller_year,is_prize_author,is_retroavant,retrospective_firstpub,consensus_earliest_date,author_age
0,mdp.39015031913893,"Spencer, Louise Reid",Guerrilla wife | $c: [by] Louise Reid Spencer.,NaN,False,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,False,False,NaN,NaN,NaN
1,mdp.39015003936864,"Baker, Robert H",The suburbs : | a novel / | $c: by Robert H. B...,NaN,False,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,False,False,NaN,NaN,NaN
2,mdp.39015068342305,"Dickens, Charles",Edwin Drood. | $c: By Charles Dickens. With il...,1870.0,False,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,False,False,NaN,1870.0,NaN
3,mdp.39015055066586,"Stretton, Hesba","Carola, | $c: by Hesba Stretton.",1911.0,False,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,False,False,NaN,1911.0,NaN
4,mdp.39015055066594,"Stretton, Hesba",In prison & out. | $c: By Hesba Stretton.,1911.0,False,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,False,False,NaN,1911.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138132,umn.31951d030369342,NaN,Six plays of the yiddish theatre / | $c: [tran...,1918.0,True,NaN,Six plays of the yiddish theatre,1918.0,NaN,False,...,False,NaN,NaN,False,NaN,False,False,NaN,1918.0,NaN
138133,mdp.39076002906829,"Wison, Steven E. (Steven Eugene)",The ghosts of Anatolia : | an epic journey to ...,2011.0,False,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,False,False,NaN,2011.0,NaN
138134,inu.30000127716409,"Jeon, Heecheon",Subjectivity of différance : | a poiesis of de...,2011.0,False,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,False,False,NaN,2011.0,NaN
138135,ien.35556042103887,"Wells, H. G. (Herbert George)",Certain personal matters / | $c: by H. G. Wells.,1901.0,False,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,False,False,NaN,1901.0,NaN
138136,mdp.39015092163339,"Davis, John A",Qing guo nu li : | fu ren Zhongguo fu nü sheng...,1880.0,False,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,False,False,NaN,1880.0,NaN

In [15]:
# now the dummy variables all have the same instances as the rows
merged_meta.count()

docid                      138137
author                     129587
title                      138137
latestcomp                 137872
in_topic_model             138137
hathi_author                28303
hathi_title                 29311
topicmodel_firstpub         29351
birthyear                   21424
us_national                 29351
authof3ormore               29351
in_BRD                     138137
brd_review_year              8294
rownum                       8294
is_bestseller              138137
bestseller_year               778
is_prize_author            138137
is_retroavant              138137
retrospective_firstpub         48
consensus_earliest_date    137873
author_age                  21424
dtype: int64

In [16]:
merged_meta.to_csv('D:/DH collaborative/Avant garde/constructed_metadata.csv', index=False)